.wrapper {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin: 0.5rem 0;
}

.input {
    display: none;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border: 1px solid #22366f;
    border-radius: 2px;
    cursor: pointer;
    flex-shrink: 0;
    &__active::before {
        content: '';
        display: block;
        width: 0.62em;
        height: 0.62em;
        background-color: #22366f;
        border-radius: 1px;
    }
}
.text {
    font-weight: 400;
    font-size: 0.73em;
    line-height: 1.19em;
    cursor: pointer;
}
