.summary {
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
    text-transform: uppercase;
}
.list {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
