.summary {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
    text-transform: uppercase;
}
.details {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.status {
    background: #f1f1f1;
    border-radius: 2px;
    padding: 8px 12px 6px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    text-transform: none;
}

.title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
}

.mainInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.statusLabel {
    width: 100%;
}

.roomsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0.4em;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    li {
        display: flex;
        align-items: center;
        gap: 1em;
        &::before {
            content: '';
            display: inline-block;
            width: 0.25em;
            height: 0.25em;
            border-radius: 50%;
            background-color: #22366f;
        }
    }
}

.sizeInfoList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.sizeInfoItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sizeValue {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}

.sizeDescription {
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;

    /* System/Grey */

    color: #636363;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button {
    &__icon {
        width: 24px;
        height: 24px;
        stroke: #fff;
        fill: #fff;
    }
    a {
        display: flex;
        text-decoration: none;
        color: white;
    }
    span {
        margin-left: 0.5rem;
        margin-top: 0.25rem;
    }
}
