@import '../../../styles/media_queries';

.typesMenu {
    margin-top: auto;
    @include respond-above(md) {
        order: 2;
        margin-top: 20px;
    }
}

.breadcrumbs {
    @include respond-above(md) {
        order: 1;
    }
}

.filter {
    @include respond-above(md) {
        order: 3;
    }
}
.canvas-3D {
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
}